* {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button,
input,
textarea,
select {
    font: inherit;
}

h1, 
h4 {
    text-align: center;
    font-weight: 700;
}

h4 {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #7abfff;
    border: 1px solid black;
    border-radius: 10px;
}

a {
  text-decoration: none;
}

.table-container {
    width: calc(100% - 32px);
    max-width: 1000px;
    overflow-x: auto;
    margin: 0 auto;
	margin-bottom: 20px;
}

.table {
	width: 100%;
	border-collapse: collapse; 
}

.table th {
	font-weight: bold;
	background: #efefef;
	border: 1px solid black;
    padding: 5px;
}

.table td {
	border: 1px solid black;
	padding: 5px;
}

.selected {
    background-color: #DEE2E6;
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(68, 82, 230);
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#delete-button {
    background-color: rgb(230, 68, 68);
}

#accept-button {
    background-color: rgb(59, 172, 59);
}

.buttons:disabled {
    color: #777;
    background-color: #ddd !important;
    cursor: not-allowed;
}

.buttons:not(:disabled) {
    cursor: pointer;
}

.student-card {
    background-color: #efefef;
    width: calc(100% - 32px);
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    padding: 20px;
}

#student-full-name {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.student-card dt {
    font-weight: bold;
    margin-bottom: 10px;
}

.student-card dd {
    margin-bottom: 20px;
}

.info-row {
    display: grid;
    grid-template-columns: 30% 70%;
}

.form-row {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 25% 75%;
    align-items: center;
}

.form-row label {
    font-weight: 600;
    min-width: 100px;
}

.required {
    color: red;
}

.student-card input,
.student-card textarea {
    width: 100%;
    min-width: 0;
    min-height: 30px;
}

textarea {
    resize: vertical;
}

@media (max-width: 600px) {
    .form-row,
    .info-row {
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

